body{
    text-align: center;
    background-image: url(./download.webp);
}

img{
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid black;
}

nav{
    text-align: center;
    color: black;
    padding: 15px;
    background-color: white;
    text-emphasis-color: black;
    font-size: 1.8rem;
    border-bottom: 3px solid transparent;
}